body{
    margin-top: 250px;
}

.rectangle{
    height: 100px;
}
#light_pink{
    background-color: #F5C6D6;
    border-radius: 5px;
    border: 10px solid white;

    

}

#dark_pink{
    background-color: #EE2E84;
    display: inline;
    border: 10px solid white;
    border-radius: 5px;

}

#blue{
    background-color: #85CFD8;
    display: inline;
    border-radius: 5px;
    border: 10px solid white;



}

#green{
    background-color: #8DC63F;

    

}
 #orange{
    background-color: #E76E34;
    display: inline;
    
    
    
}
#green, #orange{
    border-radius: 5px;
    border: 10px solid white;

}